.faq {
  position: relative;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1286px;
  &__lines-1 {
    position: absolute;
    left: -800px;
    top: 0;
    z-index: -1;
  }
  &__lines-2 {
    position: absolute;
    right: -800px;
    top: 250px;
    z-index: -1;
  }
  .section-heading {
    margin-bottom: 50px;
  }

  &__content {
    width: 100%;
  }

  .accordion-item {
    border: none;
  }

  .accordion-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .accordion-button {
    font-size: 30px;
    background-color: $text-light-blue;
    border-radius: 16px;
    padding-top: 28px;
    padding-bottom: 28px;
    color: $text-dark-grey;
  }

  .accordion-button::after {
    background-image: url("/faq-plus.svg");
  }

  .accordion-dot {
    width: 18px;
    height: 18px;
    margin-right: 50px;
  }
}
