$text-blue: #1c77ff;
$text-dark-blue: #30439f;
$text-mid-blue: #84aff9;
$text-light-blue: #f0f6ff;
$text-dark-grey: #464646;
$text-mid-grey: #6783ab;
$text-light-grey: #636363;
$text-red: #9e1651;
$text-dark-pink: #e81772;
$text-light-pink: #ffb7d6;

$bp-medium: 1200px;
$bp-small: 768px;
$bp-xsmall: 600px;
